.floating-button {
  position: fixed;
  bottom: 30px;
  right: 50px;
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
  display: none;
}

.floating-button.visible {
  display: block;
}

.floating-button span {
  position: absolute;
  bottom: 0; /* Cambiado de top a bottom */
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(130deg); /* Cambiado de 135deg a -45deg */
  transform: rotate(130deg); /* Cambiado de 135deg a -45deg */
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}

.floating-button span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.floating-button span:nth-of-type(2) {
  bottom: 16px; /* Cambiado de top a bottom */
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}

.floating-button span:nth-of-type(3) {
  bottom: 32px; /* Cambiado de top a bottom */
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
